body, h1, h2, h3, h4, h5, h6, label {
	font-family: Arial !important;
}
.form-group.form-md-line-input.form-md-floating-label .form-control.edited~label, .form-group.form-md-line-input.form-md-floating-label .form-control.focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control.form-control-static~label, .form-group.form-md-line-input.form-md-floating-label .form-control:focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control[readonly]~label,
.form-group.form-md-line-input .help-block, .dd-item, .dd-empty, .dd-placeholder
{
	font-size: 14px;
}
.form-group.form-md-line-input .help-block {margin-top: 5px; font-style: italic}
.form-group.form-md-line-input .form-control {font-size: 16px;}
label.form-label {
	font-size: 16px !important;
	display: block;
}
.CodeMirror {
	margin-top: 6px;
	font-size: 16px !important;
}
.tox-tinymce {
	margin-top: 6px;
	font-size: 16px;
}
.portlet.light>.portlet-title>.caption>.caption-subject {
}
label.error {
	float: left;
	color: #ce0000 !important;
	text-align: right;
	border-bottom-color: #ce0000 !important;
}
input.error, textarea.error, select.error {
	border-bottom-color: #ce0000 !important;
}
/* Dropzone */
.dropzone-wp {
	border: 2px dashed #ddd;
	background-color: #f3f3f3;
}
.dropzone {
	background-color: rgba(255,255,255,.10);
	border: none;
	min-height: auto;
	padding: inherit;
}
.dz-preview {
	display: none !important;
}
